.buycart{
  padding: 120px 20px 50px;
  display: grid;
  align-items: center;
  width: 100%;
  
  .prod{
    background-color: #313131;
    border: solid 2px #1612e9;
    border-radius: 15px;
    color: white;
    margin: 10px;
  }
}
.buycart button{
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}
.buycart button:hover{
  background: #1612e9;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}
.header-cart{
    display: flex;
    gap: 20px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
}
.vazio{
  border: solid 3px black;
  background-color: #313131;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  color: white;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align:center;
}
